[data-sg-tooltip] {
  position: relative;
  visibility: visible;
  font-size: inherit;
  line-height: inherit;
  opacity: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
[data-sg-tooltip]:after {
  content: attr(data-sg-tooltip);
  margin-bottom: 5px;
  display: table;
  position: absolute;
  left: 50%;
  bottom: 100%;
  padding: 10px;
  font-size: 12px;
  font-weight: normal;
  text-align: center;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  text-shadow: none;
  box-shadow: none;
  max-width: 250px;
  line-height: 13px;
  opacity: 0;
  pointer-events: none;
  z-index: 10000;
  -webkit-transform: translate3d(-50%, 5px, 0);
  -moz-transform: translate3d(-50%, 5px, 0);
  transform: translate3d(-50%, 5px, 0);
  -webkit-transition: 100ms ease;
  -moz-transition: 100ms ease;
  transition: 100ms ease;
}
[data-sg-tooltip]:hover:after {
  -webkit-transform: translate3d(-50%, 0px, 0);
  -moz-transform: translate3d(-50%, 0px, 0);
  transform: translate3d(-50%, 0px, 0);
  opacity: 1;
}
[data-sg-tooltip]:hover:before {
  -webkit-transform: translate3d(-50%, 0px, 0);
  -moz-transform: translate3d(-50%, 0px, 0);
  transform: translate3d(-50%, 0px, 0);
  opacity: 1;
}
[data-sg-tooltip]:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
  margin-bottom: -15px;
  opacity: 0;
  pointer-events: none;
  -webkit-transform: translate3d(-50%, 5px, 0);
  -moz-transform: translate3d(-50%, 5px, 0);
  transform: translate3d(-50%, 5px, 0);
  -webkit-transition: 100ms ease;
  -moz-transition: 100ms ease;
  transition: 100ms ease;
}


.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -ms-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
}
.animated.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s;
}
@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
  }
}
@-moz-keyframes shake {
  0%,
  100% {
    -moz-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -moz-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -moz-transform: translateX(10px);
  }
}
@-o-keyframes shake {
  0%,
  100% {
    -o-transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -o-transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -o-transform: translateX(10px);
  }
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}
.shake {
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  -o-animation-name: shake;
  animation-name: shake;
}
html > body form:hover .required .form-control + aside.ng-invalid,
html > body form:hover .required input[type=radio] + aside.ng-invalid,
html > body form:hover .required input[type=checkbox] + aside.ng-invalid {
  opacity: 1;
}
html > body form.ng-dirty .required .form-control + aside.ng-invalid,
html > body form.ng-dirty .required input[type=radio] + aside.ng-invalid,
html > body form.ng-dirty .required input[type=checkbox] + aside.ng-invalid {
  background-color: #e74c3c;
  opacity: 1;
}
html > body form.form-inline .radio .required input[type=radio] + aside.ng-invalid,
html > body form.form-inline .checkbox .required input[type=radio] + aside.ng-invalid,
html > body form.form-inline .radio .required input[type=checkbox] + aside.ng-invalid,
html > body form.form-inline .checkbox .required input[type=checkbox] + aside.ng-invalid {
  right: -20px;
}
html > body form.form-inline .required {
  display: inline-table;
}
html > body form.form-inline .required .form-control + aside.ng-invalid,
html > body form.form-inline .required input[type=radio] + aside.ng-invalid,
html > body form.form-inline .required input[type=checkbox] + aside.ng-invalid {
  right: 10px;
}
html > body form.form-inline .required select.form-control + aside.ng-invalid {
  right: 30px;
}
html > body form .radio .required,
html > body form .checkbox .required {
  display: inline-table;
}
html > body form .required {
  position: relative;
  display: block;
}
html > body form .required.valid[data-sg-tooltip]:before {
  display: none;
}
html > body form .required.valid[data-sg-tooltip]:after {
  content: "";
  display: none;
}
html > body form .required.valid .form-control + aside.ng-invalid,
html > body form .required.valid input[type=radio] + aside.ng-invalid,
html > body form .required.valid input[type=checkbox] + aside.ng-invalid {
  background-color: #2ecc71;
  opacity: 0;
  -webkit-transition-delay: 500ms;
  -moz-transition-delay: 500ms;
  transition-delay: 500ms;
}
html > body form .required select.form-control + aside.ng-invalid.inside {
  right: 35px;
}
html > body form .required .form-control + aside.ng-invalid,
html > body form .required input[type=radio] + aside.ng-invalid,
html > body form .required input[type=checkbox] + aside.ng-invalid {
  margin: 0;
  padding: 0;
  content: "";
  position: absolute;
  top: 50%;
  right: -15px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
  background-color: #cccccc;
  pointer-events: none;
  margin-top: -5px;
  opacity: 0;
  z-index: 10;
  -webkit-transition: opacity 200ms;
  -moz-transition: opacity 200ms;
  transition: opacity 200ms;
}
html > body form .required .form-control + aside.ng-invalid.inside,
html > body form .required input[type=radio] + aside.ng-invalid.inside,
html > body form .required input[type=checkbox] + aside.ng-invalid.inside {
  right: 15px;
}